@model FitnessClassFinder.Models.FitnessCart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FitnessCart</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FitnessCartId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
