@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<br />

<section id="services" class="section section-padded">
    <div class="container">
        <div class="row text-center title">
            <h2>Services</h2>
            <h4 class="light muted">Achieve the best results with our wide variety of training options!</h4>
        </div>
        <br />
        <div class="row services">
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="~/Content/Images/heart-blue.png" alt="" class="icon">
                    </div>
                    <h4 class="heading">Cardio Training</h4>
                    <p class="description">We offer a wide range of cardio exercise from low to high intensity. Check out available class Zumba, Aqua Aerobics, Step, Core Conditioning, TRX etc</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="~/Content/Images/guru-blue.png" alt="" class="icon">
                    </div>
                    <h4 class="heading">Yoga Pilates</h4>
                    <p class="description">Your home for Yoga and Pilates classes. Classes are accessible for all levels and abilities.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="~/Content/Images/weight-blue.png" alt="" class="icon">
                    </div>
                    <h4 class="heading">Power Training</h4>
                    <p class="description">Explosive exercise training builds power, strength and fitness fast.</p>
                </div>
            </div>
        </div>

        <div class="row services">
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="~/Content/Images/pat.jpg" alt="" class="icon" height="100" width="150">
                    </div>
                    <h4 class="heading">Personal Training</h4>
                    <p class="description">Your transformation is our passion. We are your personal trainer, your nutritionist, your supplement expert, your lifting partner, your support group. We offer a wide range of our expert personal trainers.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="~/Content/Images/ma.jpg" alt="" class="icon" height="100" width="150">
                    </div>
                    <h4 class="heading">Martial Arts</h4>
                    <p class="description">Our martial art classes ensures that no matter your age, gender or level of experience, our instructors will help you develop your physical strength, endurance and the martial arts skills.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="~/Content/Images/ma1.jpg" alt="" class="icon" height="100" width="150">
                    </div>
                    <h4 class="heading">Self Defence</h4>
                    <p class="description">More women are taking self defence classes to feel safer on the streets. Learn how to protect yourself and get home safe with Hard Target Krav Maga Self-Defence lessons. Search for our classes offered today.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="cut cut-bottom"></div>
</section>
<br />

