@{
    ViewBag.Title = "Contact us for more details.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-8">
    <h4>Fitness Class Finder, IT Tallaght, Dublin Tel: 014567890 </h4>
    <strong>Support:</strong>   <a href="mailto:admin@classfinder.ie">admin@classfinder.ie</a> <strong>Marketing:</strong> <a href="mailto:Marketing@classfinder.ie">marketing@classfinder.ie</a>
    <br />
    <div class="container-full-bg" style="background-image: url(Images/Personal-Training-Chiswick-Slider-2.png); background-size: 100% 100%;">
        <img src="~/Content/Images/Personal-Training-Chiswick-Slider-2.png" alt="" img class="img-responsive footer-image" width="650" height="700">
    </div>
</div>
    <!------ ( GOOGLE MAP ) ------>
<div class="col-md-4">
        <h2><span class="glyphicon glyphicon-map-marker"></span> Office Location</h2>

        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:400px;width:600px;'>
            <div id='gmap_canvas' style='height:400px;width:600px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://www.buywebtrafficexperts.com">buy targeted traffic</a></small></div>
            <style>
                #gmap_canvas img {
                    max-width: none !important;
                    background: none !important;
                }
            </style>
        </div>
        <script type='text/javascript'>function init_map() { var myOptions = { zoom: 10, center: new google.maps.LatLng(53.2896663, -6.363484299999982), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(53.2896663, -6.363484299999982) }); infowindow = new google.maps.InfoWindow({ content: '<strong>Fitness Class Finder</strong><br>ITT Tallaght, Dublin<br>' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
    </div><!-- end of col-->
