@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<section id="team" class="section gray-bg">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top">Team</h2>
            <h4 class="light muted">We're a dream team!</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url('~/Content/Images/team-cover1.jpg'); background-size:cover;">
                        <img src="~/Content/Images/team2.jpg" alt="" class="icon">
                        <div class="overlay text-center">
                            <h3 class="white">€69.00</h3>
                            <h5 class="light light-white">1 - 5 sessions / month</h5>
                        </div>
                    </div>

                    <div class="title">
                        <h4>Ben Adamson</h4>
                        <h5 class="muted regular">Fitness Instructor</h5>
                    </div>
                    <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url('img/team/team-cover2.jpg'); background-size:cover;">
                        <img src="~/Content/Images/team1.jpg" alt="" class="icon">
                        <div class="overlay text-center">
                            <h3 class="white">€69.00</h3>
                            <h5 class="light light-white">1 - 5 sessions / month</h5>
                        </div>
                    </div>
                    <div class="title">
                        <h4>Eva Williams</h4>
                        <h5 class="muted regular">Personal Trainer</h5>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url('img/team/team-cover3.jpg'); background-size:cover;">
                        <img src="~/Content/Images/team3.jpg" alt="" class="icon">
                        <div class="overlay text-center">
                            <h3 class="white">€69.00</h3>
                            <h5 class="light light-white">1 - 5 sessions / month</h5>
                        </div>
                    </div>
                    <div class="title">
                        <h4>John Phillips</h4>
                        <h5 class="muted regular">Personal Trainer</h5>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<br />

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
