@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css">
<link href="~/Content/Carousel.css" rel="stylesheet" type="text/css">

<!--begin bg-carousel-->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
        <div class="item">
            <div class="slide4"></div>
        </div>
        <div class="item">
            <div class="slide5"></div>
        </div>
    </div><!-- .carousel-inner -->
    <div class="container carousel-overlay text-center">
        <a class="btn btn-lg btn-success fp-buttons" href="@Url.Action("Index", "ClassSchedules")">
            <span class="fa fa-dollar"></span> Find a Class
        </a>
    </div>
</div><!-- .carousel -->
<!--end bg-carousel-->
<br />

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel panel-heading"><h4><strong>Fitness Trend</strong></h4></div>
            <div class="panel-body">
                <strong>The 15 Next Big Fitness Trends</strong><br />
                These innovative workouts mix up traditional training methods to deliver sweat-inducing sessions, amazing results, and fitness that’s fun again.
                <a class="btn btn-primary" href="http://www.shape.com/fitness/trends/15-next-big-fitness-trends">Read more &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel panel-heading"><h4><strong>Nutrition Advice</strong></h4></div>
            <div class="panel-body"><span class="glyphicon glyphicon-thumbs-up"></span>
    <strong>32 Must-Follow Food and Nutrition Blogs</strong><br />
    Choosing which food blogs to follow can be overwhelming...
    <a class="btn btn-primary" href="http://greatist.com/eat/best-food-blogs-2016">Read more &raquo;</a> <br />
</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel panel-heading"><h4><strong>BMI healthy weight</strong></h4></div>
            <div class="panel-body">
                Find out if you are a healthy weight, understand how BMI is calculated and get practical weight loss information.<br />
                <a class="btn btn-primary" href="http://www.nhs.uk/Tools/Pages/Healthyweightcalculator.aspx">Check Now &raquo;</a><br />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 class="white heading"><strong>Services</strong></h3>
        <img class="img-responsive footer-image" src="~/Content/Images/pat.jpg">
    </div>
    <div class="col-md-4">
        <div class="intro-table intro-table-first">
            <h3 class="white heading"><strong>Today's Schedule</strong></h3>
            <div class="owl-carousel owl-schedule bottom">
                <div class="item">
                    <div class="schedule-row row">
                        <div class="col-xs-6">
                            <h5>Les Mills Pure-Grit</h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h5 class="white">6pm - 7pm</h5>
                        </div>
                    </div>
                    <div class="schedule-row row">
                        <div class="col-xs-6">
                            <h5 class="regular white">Yoga</h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h5 class="white">6pm - 7.30pm</h5>
                        </div>
                    </div>
                    <div class="schedule-row row">
                        <div class="col-xs-6">
                            <h5 class="regular white">Boxing</h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h5 class="white">5pm - 6pm</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="schedule-row row">
                        <div class="col-xs-6">
                            <h5 class="regular white">Pilates</h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h5 class="white">9am - 10am</h5>
                        </div>
                    </div>
                    <div class="schedule-row row">
                        <div class="col-xs-6">
                            <h5 class="regular white">CrossFit</h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h5 class="white">6pm - 7pm</h5>
                        </div>
                    </div>
                    <div class="schedule-row row">
                        <div class="col-xs-6">
                            <h5 class="regular white">BodyStep</h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h5 class="white">11am - 12pm</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="schedule-row row">
                        <div class="col-xs-6">
                            <h5 class="regular white"></h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h5 class="white"></h5>
                        </div>
                    </div>
                    <div class="schedule-row row">
                        <div class="col-xs-6">
                            <h5 class="regular white"></h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h5 class="white"></h5>
                        </div>
                    </div>
                    <div class="schedule-row row">
                        <div class="col-xs-6">
                            <h5 class="regular white"></h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h5 class="white"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="intro-table intro-table-third">
            <h3 class="white heading"><strong>Happy Clients</strong></h3>
            <div class="owl-testimonials bottom">
                <div class="item">
                    <h4 class="white heading content">I couldn't be more happy with the results!</h4>
                    <h5 class="white heading light author">Adam Jordan</h5>
                </div>
                <div class="item">
                    <h4 class="white heading content">I can't believe how much better I feel!</h4>
                    <h5 class="white heading light author">Greg Pardon</h5>
                </div>
                <div class="item">
                    <h4 class="white heading content">Incredible transformation and I feel so healthy!</h4>
                    <h5 class="white heading light author">Christina Goldman</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-lg-12">
        <a href="http://www.fitnessireland.ie/?gclid=COD4ucPOyMwCFYJz2wod50oNPA"><img class="img-responsive" src="~/Content/Images/FitnessIreland.jpg"></a>
</div>
    <div class="col-sm-6">
        <h3><strong>Fitness Hours</strong></h3>
        <div class="row opening-hours">
            <div class="col-sm-6">
                <h5>Mon - Fri</h5>
                <h3>06:00 - 22:00</h3>
            </div>
            <div class="col-sm-6">
                <h5>Sat - Sun</h5>
                <h3>06:00 - 18:00</h3>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footer-image-container">
            <img class="img-responsive footer-image" src="~/Content/Images/Nike-poster.jpg">
        </div>
    </div>

