@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-md-12 text-center">
        <h3>Take care of your body.</h3>
        <h1>It's the only place you have to live..</h1>
    </div>
    @*<p class="lead">Take care of your body.</p>
    <h1>It's the only place you have to live..</h1>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Class Participants</h2>
        <p>
            Find classes in your area and get class information.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Register Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Class Instructor</h2>
        <p>Advertise your class for free and get feedback.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Register Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fitness Trend</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<section>
    <div class="cut cut-top"></div>
    <div class="container">
        <div class="row intro-tables">
            <div class="col-md-4">
                <div class="intro-table intro-table-first">
                    <h5 class="white heading">Today's Schedule</h5>
                    <div class="owl-carousel owl-schedule bottom">
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Early Exercise</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Muscle Building</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Cardio</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Early Exercise</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Muscle Building</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Cardio</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Early Exercise</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Muscle Building</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Cardio</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-table intro-table-hover">
                    <h5 class="white heading hide-hover">Premium Membership</h5>
                    <div class="bottom">
                        <h4 class="white heading small-heading no-margin regular">Register Today</h4>
                        <h4 class="white heading small-pt">20% Discount</h4>
                        <a href="#" class="btn btn-white-fill expand">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-table intro-table-third">
                    <h5 class="white heading">Happy Clients</h5>
                    <div class="owl-testimonials bottom">
                        <div class="item">
                            <h4 class="white heading content">I couldn't be more happy with the results!</h4>
                            <h5 class="white heading light author">Adam Jordan</h5>
                        </div>
                        <div class="item">
                            <h4 class="white heading content">I can't believe how much better I feel!</h4>
                            <h5 class="white heading light author">Greg Pardon</h5>
                        </div>
                        <div class="item">
                            <h4 class="white heading content">Incredible transformation and I feel so healthy!</h4>
                            <h5 class="white heading light author">Christina Goldman</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
            <div class="col-sm-6 text-center-mobile">
                <h3 class="white">Reserve a Free Trial Class!</h3>
                <h5 class="light regular light-white">Shape your body and improve your health.</h5>
                <a href="#" class="btn btn-blue ripple trial-button">Start Free Trial</a>
            </div>
            <div class="col-sm-6 text-center-mobile">
                <h3 class="white">Opening Hours <span class="open-blink"></span></h3>
                <div class="row opening-hours">
                    <div class="col-sm-6 text-center-mobile">
                        <h5 class="light-white light">Mon - Fri</h5>
                        <h3 class="regular white">9:00 - 22:00</h3>
                    </div>
                    <div class="col-sm-6 text-center-mobile">
                        <h5 class="light-white light">Sat - Sun</h5>
                        <h3 class="regular white">10:00 - 18:00</h3>
                    </div>
                </div>
            </div>

